:root {
   --black: #222222;
   --phone-brand: #F1E4E6;
   --fashion: #F16D7F;
   --white: #FBFBFB;
}

img{
   max-width: 100%;
   height: auto;
}

body {
   font-family: 'Lato', sans-serif;
   font-size: 14px;
   line-height: 17px;
   font-weight: 400;
   color: var(--black);
}

.container{
   max-width: 1140px;
   margin: 0 auto;
}

a:hover, a:focus, a:active{
   opacity: .6;
}

button:hover, button:focus, button:active{
   opacity: .8;
}

input:hover, :focus{
   outline: none;
}

/*header style start*/
.header{
   background-color: black;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1;
}

.header__wrapp {
   min-height: 75px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.header__logo-loupe {
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
   align-items: center;
}

.header__logo {
   margin-right: 41px;
}
.header__loupe {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 6px;
}

.header__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: right;
   align-items: center;
}

.header__button {
   margin-right: 25px;
   border: none;
   background-color: transparent;
}

.header__link-account{
   margin-right: 42px;
}

.header__nav {
   display: none;
}

.header__nav-wrp{
   width: 232px;
   height: 764px;   
}

.header__nav-close{
   display: block;
   width: 12px;
   height: 12px;
   margin: 16px 17px 9px 203px;
}

.header__menu-heading {
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 4px;
}

.header__nav-item {
   margin-top: 20px;
   
}

.nav-sub-item__title {
   color: var(--fashion);
   text-transform: uppercase;
   
}

.nav-sub-item__item {
   padding-top: 11px;
}

.nav-sub-item__item-i{
   color: #6F6E6E;
   
}
/*header style end*/


/*brand style start*/
.brand {
   display: flex;
   margin: 0 auto; 
   max-width: 1600px;   
}

.brand-wrapp {
   flex-grow: 1;
   display: flex;
   align-items: center;
   margin: 75px 0 65px 0;
   background-color: var(--phone-brand);
}

.brand__img {
   height: 764px;
   margin-right: 91px;
   object-fit: cover;
}

.brand__heading {
font-weight: 900;
font-size: 48px;
line-height: 58px;
text-transform: uppercase;
position: relative;
}

.brand__heading::after{
position: absolute;
content: '';
width: 12px;
height: 92px;
top: 5px;
left: -28px;
background-color: var(--fashion);
}

.brand__sub-heading {
   display: block;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
}

.brand__sub-heading-col {
   color: var(--fashion);
}

/*brand style end*/


/*sales style start*/

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.sales__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.sales__item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 360px;
   height: 260px;
   text-align: center;
   text-transform: uppercase;
}

.sales__item--women {
   background: url(../img/for-women-.jpg) no-repeat;
   background-size: contain;
   }

.sales__item--men {      
   background: url(../img/for-men-.jpg) no-repeat;
   background-size: contain;
   }

.sales__item--kids {
   background: url(../img/for-kids-.jpg) no-repeat;
   background-size: contain;
}

.sales__item--accesories {
   width: 100%;
   height: 180px;
   margin-top: 30px;
   margin-bottom: 96px;
   background: url(../img/for-accesories-.jpg) no-repeat;
   background-size: contain;
   }

   .sales__text {
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
}

.sales__title {
   font-size: 24px;
   font-weight: 700;
   line-height: 32px;
   color: var(--fashion);
}

/*sales style end*/


/*catalog style start*/

.catalog__heading {
   font-size: 30px;
   line-height: 36px;
   margin-bottom: 6px;
   text-align: center;
}

.catalog__text {
   margin-bottom: 48px;
   text-align: center;
   color: #9F9F9F;
}

.catalog__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.catalog__card {
   width: 360px;
   min-height: 581px;
   margin-bottom: 30px;
   background: #F8F8F8;
}

.catalog__card-title {
   margin-top: 25px;
   margin-bottom: 12.65px;
   margin-left: 18px;
   font-size: 13px;
   line-height: 16px;
   text-transform: uppercase;
}

.catalog__card-text {
   margin-left: 18px;
   margin-right: 29px;
   margin-bottom: 18px;
   margin-left: 16.5px;
   font-weight: 300;
   color: #5D5D5D;
}

.catalog__card-price {
   margin-left: 18px;
   font-size: 16px;
   line-height: 19px;
   color: var(--fashion);
}

.catalog__button {
   display: block;   
   margin: 18.5px auto 95.5px auto;
   padding: 14px 38.5px;
   line-height: 19px;
   color: #F26376;
   border: 1px solid #FF6A6A;
   background-color: var(--white);
   cursor: pointer
   }

/*catalog style end*/


/*services style start*/


.services {
   background-color: var(--black);
}

.services__list {
   min-height: 341px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.services__item {
   max-width: 360px;
   text-align: center;
}

.services__title {
   margin-top: 28px;
   margin-bottom: 16px;
}

.services__title-link {
   font-size: 20px;
   line-height: 24px;
   color: var(--white);
}

.services__text {
   font-weight: 300;
   color: var(--white);
}

/*services style end*/


/*footer style start*/

.footer__subscription {
   max-width: 1600px;
   
   background: url(../img/footer_bgr-.jpg) center no-repeat;
   object-fit: cover;
   margin: 0 auto;
}

.footer__subscription-wrapp{
   max-width: 1140px;
   min-height: 448px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content:space-between;
   align-items: center;
}

.footer__subscription-img-text-wrapp{
      display: flex;
   flex-direction: column;
   align-items: center;
}

.footer__subscription-pic{
   width: 96px;
}

.footer__subscription-text{
   width: 360px;
   margin-top: 30px;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
}

.footer__subscription-form {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.footer__subscription-form-title {
   width: 557px;
   font-weight: 700;
   font-size: 24px;
   line-height: 40px;
   text-align: center;
   text-transform: uppercase;
}

.footer__subscription-form-subtitle {
   display: block;
   font-size: 18px;
   line-height: 30px;
}

.footer__subscription-button-send {
   margin-top: 32px;
   display: inline-block;
   height: 49px;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0);
 }

.footer__subscription-input {
   width: 256px;
   height: 49px;
   background: url(../img/bg-input.png);
   padding: 7px 64px 7px 22px;
   border: 0;
   color: var(--black);
}

.footer__subscription-button {
   width: 100px;
   height: 49px;
   background-image: url(../img/bg-button.png);
   margin-left: -3px;
   border: 0;
   color: var(--white);
   padding: 7px;
   cursor: pointer;
}

.footer__copy {   
   background-color: var(--black);
}

.footer__copy-copy-messend {
   height: 79px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;   
}

.footer__copy-copy {
   color: var(--white);
   line-height: 19px;
}

.footer__copy-list {
   display: flex;
   flex-wrap: wrap;
   justify-content:end;
   align-items: center;
}

.footer__copy-icon {
   background: var(--white);
   width: 31px;
   height: 32px;
   margin-left: 7.3px;
   padding: 8px;
}

.footer__copy-icon:hover{
   background-color: var(--fashion);
}

/*footer style end*/


/*registration style start*/

.registration__heading {
   width: 100%;
   height: 148px;
   margin-top: 75px;
   padding-top: 59px;
   background: #F8F3F4;
}

.header-wrap {
}

.registration__title {
   font-size: 24px;
   line-height: 29px;
   text-transform: uppercase;
   color: var(--fashion);
}

.registration__form{
   display: flex;
   flex-wrap: wrap;
   justify-content:left;
   padding-top: 64px;
   padding-bottom: 96px;
}

.registration__form-legend{
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   margin-bottom: 20.5px;
}

.registration__form-input{
   display: block;
   width: 360px;
   margin-bottom: 20.5px;
   padding: 12.5px 0 16px 17px;
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;
   color: #B1B1B1;
}

[type="radio"]{
  display:inline-block;
  text-align: center;
  margin: 0%;
  vertical-align: middle;
}

.radio-female{
   margin-left: 20px;
}

.label-radio{
   font-weight: 300;
   font-size: 11px;
   line-height: 13px;   
   color: var(--black);  
}

.registration__form-login{
   margin-top: 34px;
}

.registration__form-login-text{
   max-width: 360px;
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;   
   color: #B1B1B1;
}

.registration__form-button{
   display: inline-block;
   width: 167px;
   border: 0;
   margin-top: 29px;
   padding-top: 17px;
   padding-right: 36px;
   padding-bottom: 17px;
   padding-left: 29px;
   text-transform: uppercase;
   color: var(--white);
   background-color: var(--fashion);
   text-align: left; 
   background-image: url(../img/svg/arrow.png);
   background-repeat: no-repeat;
   background-position: 80%;

}

.registration__form-button:hover, .registration__form-button:focus{
   background-image: url(../img/svg/arrow.png);
   background-repeat: no-repeat;
   background-position: 90%;   
}



.registration__loyalty{
   max-width: 652px;
   margin-left: 128px;
}

.registration__loyalty-title {
   font-weight: 300;
   margin-bottom: 22px;
   font-size: 24px;
   line-height: 29px;
   text-transform: uppercase;
}
.registration__loyalty-text-list{
   font-weight: 300;
   margin-bottom: 21px;
   font-size: 24px;
   line-height: 29px;
}

.registration__loyalty-list {   
   
}

.registration__loyalty-item{
   position: relative;
}

.registration__loyalty-item::before{
   width: 20px;
   height: 16px;
   position: absolute;
   content: '';
   top: 5px;
   left: -43px;
   background: url(../img/svg/marker-loyalty.svg) no-repeat;
   background-size: 20px 16px;
}

.registration__loyalty-text, .registration__loyalty-item {
   font-weight: 300;
   
   font-size: 24px;
   line-height: 29px;   
}

.registration__loyalty-text{
   margin-bottom: 21px;
}

.registration__loyalty-item{
   margin-bottom: 16px;
   left: 43px;
}




/*registration style end*/
