:root {
   --black: #222222;
   --phone-brand: #F1E4E6;
   --fashion: #F16D7F;
}

img{
   max-width: 100%;
   height: auto;
}

body {
   font-family: 'Lato', sans-serif;
   font-size: 14px;
   line-height: 17px;
   font-weight: 400;
   color: var(--black);
}

.container{
   max-width: 1140px;
   margin: 0 auto;
}

/*header style start*/
.header{
   background-color: black;
   position: fixed;
   width: 100%;
   z-index: 1;
}

.header__wrapp {
   min-height: 75px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.header__logo-loupe {
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
   align-items: center;
}

.header__logo {
   margin-right: 41px;
}
.header__loupe {
   margin-top: 6px;
}

.header__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: right;
   align-items: center;
}

.header__button {
   margin-right: 25px;
   border: none;
   background-color: transparent;
}

.header__link-account{
   margin-right: 42px;
}

.header__nav {
   display: none;
}

.header__nav-wrp{
   width: 232px;
   height: 764px;   
}

.header__nav-close{
   display: block;
   width: 12px;
   height: 12px;
   margin: 16px 17px 9px 203px;
}

.header__menu-heading {
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 4px;
}

.header__nav-item {
   margin-top: 20px;
   
}

.nav-sub-item__title {
   color: var(--fashion);
   text-transform: uppercase;
   
}

.nav-sub-item__item {
   padding-top: 11px;
}

.nav-sub-item__item-i{
   color: #6F6E6E;
   
}
/*header style end*/


/*brand style start*/
.brand {
   display: flex;
   margin: 0 auto; 
   max-width: 1600px;   
}

.brand-wrapp {
   flex-grow: 1;
   display: flex;
   align-items: center;
   margin: 75px 0 65px 0;
   background-color: var(--phone-brand);
}

.brand__img {
   height: 764px;
   margin-right: 91px;
   object-fit: cover;
}

.brand__heading {
font-weight: 900;
font-size: 48px;
line-height: 58px;
text-transform: uppercase;
position: relative;
}

.brand__heading::after{
position: absolute;
content: '';
width: 12px;
height: 92px;
top: 5px;
left: -28px;
background-color: var(--fashion);

}

.brand__sub-heading {
   display: block;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
}

.brand__sub-heading-col {
   color: var(--fashion);
}

/*brand style end*/


/*sales style start*/

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.sales__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.sales__item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 360px;
   height: 260px;
   text-align: center;
   text-transform: uppercase;
}

.sales__item--women {
   background: url(../img/for-women-.jpg) no-repeat;
   background-size: contain;
   }

   .sales__item--men {      
      background: url(../img/for-men-.jpg) no-repeat;
      background-size: contain;
      }

.sales__item--kids {
   background: url(../img/for-kids-.jpg) no-repeat;
   background-size: contain;
}

.sales__item--accesories {
   width: 100%;
   height: 180px;
   margin-top: 30px;
   margin-bottom: 96px;
   background: url(../img/for-accesories-.jpg) no-repeat;
   background-size: contain;
   }

   .sales__text {
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
}

.sales__title {
   font-size: 24px;
   font-weight: 700;
   line-height: 32px;
   color: var(--fashion);
}

/*sales style end*/


/*catalog style start*/

.catalog {
}

.catalog__heading {
   font-size: 30px;
   line-height: 36px;
   margin-bottom: 6px;
   text-align: center;
}

.catalog__text {
   margin-bottom: 48px;
   text-align: center;
   color: #9F9F9F;
}

.catalog__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.catalog__card {
   width: 360px;
   min-height: 581px;
   margin-bottom: 30px;
   background: #F8F8F8;
}

.catalog__card-title {
   margin-top: 25px;
   margin-bottom: 12.65px;
   margin-left: 18px;
   font-size: 13px;
   line-height: 16px;
   text-transform: uppercase;
}

.catalog__card-text {
   margin-left: 18px;
   margin-right: 29px;
   margin-bottom: 18px;
   margin-left: 16.5px;
   font-weight: 300;
   color: #5D5D5D;
}

.catalog__card-price {
   margin-left: 18px;
   font-size: 16px;
   line-height: 19px;
   color: var(--fashion);
}

.catalog__button {
   display: block;   
   margin: 18.5px auto 95.5px auto;
   padding: 14px 38.5px;
   line-height: 19px;
   color: #F26376;
   border: 1px solid #FF6A6A;
   background-color: #FFFFFF;
   cursor: pointer
   }

/*catalog style end*/


/*services style start*/


.services {
   background-color: var(--black);
}

.services__list {
   width: 360px;
   display: flex;
   flex-wrap: wrap;
   
   align-items: center;

}
.services__list-wrapp{
   width: 360px;
   height: 341px;
   justify-content: space-between;
}

.services__delivery {
}

.services__title {
}

.services__text {
}

/*services style end*/