$black: #222222;
$phone-brand: #F1E4E6;
$pink: #F16D7F;
$white: #FFFFFF;
$light-gray: #B1B1B1;
$grey-pink: #6F6E6E;
$text-catalog: 9F9F9F;
$F8F8F8: #F8F8F8;
$dark-gray: #5D5D5D;

$desktop-width: 1140px;

$table-min-width: 768px;
$table-max-width: 1024px;

$mobile-min-width: 375px;
$mobile-max-width: 667px;
