.btn-basket-img{
   padding-top: 10.8px;
   padding-right: 11px;
   padding-bottom: 8px;
   padding-left: 13px;
}

.btn-text{
   padding-top: 13.7px;
   padding-right: 12.3px;
   padding-bottom: 12.3px;
   color: var(--white);
}