.button-overlay{
   display: flex;
   justify-content: center;
   text-align: center;
   margin: 0 auto;
   border: 1px solid $white;
   background-color: transparent;
   position: absolute;
   top: 50%;  
   left: 50%;
   transform: translate(-50%, -50%);
   }

.button-overlay{
   display: none;
    }