.catalog-page {

	&__menu{
		margin-top: 51px;
		margin-bottom: 64px;
		margin-left: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: left;		
	}

	&__menu-filter{
		position: relative;
	}

	&__menu-filter-link{
		font-weight: 600;
		text-transform: uppercase;
		color: $black;
	}

	&__menu-filter-link-img{
		margin-left: 11px;
	}

	&__menu-trend{
		margin-left: 304px;
		color: $grey-pink;
		text-transform: uppercase;
	}

	&__form-input-trend {
		margin-right: 31px;
		border: none;
		color: $grey-pink;
		}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;
		row-gap: 30px;
	}

	&__card {
		max-width: 360px;
      min-height: 581px;
      background: $F8F8F8;
	}

	&__card-wrp {   
      position: relative;
   }
   
   &__card-overlay{
      width: 100%;
      min-height: 420px;
      position: absolute;
      top: 0;
      background: rgba(58, 56, 56, 0.86);   
   }
   
   &__button-overlay{
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      border: 1px solid $white;
      background-color: transparent;
      position: absolute;
      top: 50%;  
      left: 50%;
      transform: translate(-50%, -50%);
   }
      
   &__card-overlay{
      display: none;
   }
   
   &__button-overlay{
      display: none;
   }
         
   &__card:hover &__button-overlay,
   &__card:hover &__card-overlay,
   &__card:hover:before {
      display: block;
      display: flex;
   }

	&__btn-basket-img{
      display: block;
      padding-top: 10.8px;
      padding-right: 11px;
      padding-bottom: 8px;
      padding-left: 13px;
   }
   
   &__btn-text{
      padding-top: 13.7px;
      padding-right: 12.3px;
      padding-bottom: 12.3px;
      color: $white;
   }
	
	&__number-page {
		display: flex;
		justify-content: center;
		margin: 48px auto 96px auto;
	}
	
}


@media (max-width: $table-S-max-width){
	
}

@media (max-width: $table-max-width){

	.catalog-page{

		&__list {			
			grid-template-columns: repeat(2, 1fr);
			column-gap: 16px;
			row-gap: 16px;
		}
		&__menu{
			margin-top: 24px;
			margin-bottom: 40px;
			margin-left: 0;
			justify-content: space-between;
			}

			&__card {
				width: 48%;			
			}

			&__form-label-price{
				margin: 0;
			}
	}
}

@media (max-width: $mobile-max-width){
	.catalog-page{
		
		&__list {			
			grid-template-columns: repeat(2, 1fr);
			column-gap: 16px;
			row-gap: 16px;
		}
	}
}

