

.catalog__heading {
   font-size: 30px;
   line-height: 36px;
   margin-bottom: 6px;
   text-align: center;
}

.catalog__text {
   margin-bottom: 48px;
   text-align: center;
   color: $text-catalog;
}

.catalog__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

/*button-overlay start*/

.catalog__card {
   width: 360px;
   min-height: 581px;
   margin-bottom: 30px;
   background: $F8F8F8;
}

/*button-overlay start*/

.catalog__card-wrp {   
   position: relative;
}

.catalog__card-overlay{
   width: 100%;
   min-height: 420px;
   position: absolute;
   top: 0;
   background: rgba(58, 56, 56, 0.86);   
}

.catalog__button-overlay{
   display: flex;
   justify-content: center;
   text-align: center;
   margin: 0 auto;
   border: 1px solid $white;
   background-color: transparent;
   position: absolute;
   top: 50%;  
   left: 50%;
   transform: translate(-50%, -50%);
   }
   
   .catalog__card-overlay{
   display: none;
   }

   .catalog__button-overlay{
     display: none;
   }
   
   
   .catalog__card:hover .catalog__button-overlay,
.catalog__card:hover .catalog__card-overlay,
.catalog__card:hover:before {
  display: block;
  display: flex;
}

.catalog__btn-basket-img{
   padding-top: 10.8px;
   padding-right: 11px;
   padding-bottom: 8px;
   padding-left: 13px;
}

.catalog__btn-text{
   padding-top: 13.7px;
   padding-right: 12.3px;
   padding-bottom: 12.3px;
   color: $white;
}

/*button-overlay end*/


.catalog__card-title {
   margin-top: 25px;
   margin-bottom: 12.65px;
   margin-left: 18px;
   font-size: 13px;
   line-height: 16px;
   text-transform: uppercase;
}

.catalog__card-text {
   margin-left: 18px;
   margin-right: 29px;
   margin-bottom: 18px;
   margin-left: 16.5px;
   font-weight: 300;
   color: $dark-gray;
}

.catalog__card-price {
   margin-left: 18px;
   font-size: 16px;
   line-height: 19px;
   color: $pink;
}

.catalog__button {
   display: block;   
   margin: 18.5px auto 95.5px auto;
   padding: 14px 38.5px;
   line-height: 19px;
   color: $pink;
   border: 1px solid $pink;
   background-color: $white;
   }