.footer{

   &__subscription {
      max-width: 1600px;   
      background: url(../img/footer_bgr-.jpg) center no-repeat;
      object-fit: cover;
      margin: 0 auto;
   }
   
   &__subscription-wrapp{
      max-width: 1140px;
      min-height: 448px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
      align-items: center;
   }
   
   &__subscription-img-text-wrapp{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   &__subscription-pic{
      width: 96px;
   }
   
   &__subscription-text{
      width: 360px;
      margin-top: 30px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
   }
   
   &__subscription-form {
      display: flex;
      flex-direction: column;
      text-align: center;
   }
   
   &__subscription-form-title {
      width: 557px;
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
   }
   
   &__subscription-form-subtitle {
      display: block;
      font-size: 18px;
      line-height: 30px;
   }
   
   &__subscription-button-send {
      margin-top: 32px;
      display: inline-block;
      height: 49px;
   }
   
   &__subscription-input {
      width: 256px;
      height: 49px;
      background: url(../img/bg-input.png);
      padding: 7px 64px 7px 22px;
      border: 0;
      color: $black;
   }
   
   &__subscription-button {
      width: 100px;
      height: 49px;
      background-image: url(../img/bg-button.png);
      margin-left: -3px;
      border: 0;
      color: $white;
      padding: 7px;
   }
   
   &__copy {   
      background-color: $black;
   }
   
   &__copy-copy-messend {
      height: 79px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;   
   }
   
   &__copy-copy {
      color: $white;
      line-height: 19px;
   }
   
   &__copy-list {
      display: flex;
      flex-wrap: wrap;
      justify-content:end;
      align-items: center;
   }
   
   &__copy-icon {
      background: $white;
      width: 31px;
      height: 32px;
      margin-left: 7.3px;
      padding: 8px;
   }
   
   &__copy-icon:hover{
      background-color: $pink;
   }

}