.footer{

   &__subscription {
      max-width: 1600px;   
      background: url(../img/footer_bgr-.jpg) center no-repeat;
      object-fit: cover;
      margin: 0 auto;
   }
   
   &__subscription-wrapp{
      max-width: 1140px;
      min-height: 448px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
      align-items: center;
   }
   
   &__subscription-img-text-wrapp{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   &__subscription-pic{
      width: 96px;
   }
   
   &__subscription-text{
      max-width: 360px;
      margin-top: 30px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
   }
   
   &__subscription-form {
      display: flex;
      flex-direction: column;
      text-align: center;
   }
   
   &__subscription-form-title {
      max-width: 557px;
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
   }
   
   &__subscription-form-subtitle {
      display: block;
      font-size: 18px;
      line-height: 30px;
   }
   
   &__subscription-button-send {
      margin-top: 32px;
      display: inline-block;
      height: 49px;
   }
   
   &__subscription-input {
      width: 256px;
      height: 49px;
      background: url(../img/bg-input.png);
      padding: 7px 64px 7px 22px;
      border: 0;
      color: $black;
   }
   
   &__subscription-button {
      width: 100px;
      height: 49px;
      background-image: url(../img/bg-button.png);
      margin-left: -3px;
      border: 0;
      color: $white;
      padding: 7px;
   }
   
   &__copy {   
      background-color: $black;
   }
   
   &__copy-copy-messend {
      min-height: 79px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;   
   }
   
   &__copy-copy {
      color: $white;
      line-height: 19px;
   }
   
   &__copy-list {
      display: flex;
      flex-wrap: wrap;
      justify-content:end;
      align-items: center;
   }
   
   &__copy-icon {
      background: $white;
      width: 31px;
      height: 32px;
      margin-left: 7.3px;
      padding: 8px;
   }
   
   &__copy-icon:hover{
      background-color: $pink;
   }
}

//media

@media (max-width: $table-S-max-width){

   .footer{
      &__subscription {
      max-width: 1140px;   
      }

   &__subscription-wrapp{
      margin: 0 16px;
      }
   }
}

@media (max-width: $table-max-width){

   .footer{
      &__subscription {
      max-width: 1024px;   
      background-size: cover;
      background-position: -400px 0;  
      }

   &__subscription-wrapp{
      min-height: 693px;
      padding-top: 53.6px;
      padding-bottom: 140px;
      flex-direction: column;
      }   
   }
}






@media (max-width: $mobile-max-width){

	.footer{

		&__subscription {
			background-size: cover;
			background-position: -399px 0px;
		}

		&__subscription-wrapp{
			min-height: 550px;
			justify-content: center;
			padding-bottom: 109px;			
		}

		&__subscription-text{
			font-size: 18px;
			line-height: 22px;
			padding: 0 16px 0 16px;
		}

		&__subscription-form {
		margin-top: 59px;
		}
	
		&__subscription-form-subtitle {
			font-size: 14px;
			line-height: 21px;
		}

		&__subscription-button-send {
			margin-top: 25px;
		}

		&__copy-copy-messend {
			padding-top: 43px;
			min-height: 143px;
			justify-content: center;
			flex-direction: column-reverse;
		}

		&__copy-list {
			margin-bottom: 40px;
		}

		&__subscription-input {
			width: 242px;
			
		}
	}


}