ol, ul, li, a {
	text-decoration: none;
}

.product{
	&__heading{
		@include registrat_cart_heading;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__title{
		@include registrat_cart_title;
	}

	&__menu{
		font-weight: 300;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #636363;
		text-transform: uppercase;
	}

	&__menu-span{
		color: $pink;
		font-weight: 700;
	}



	&__carousel{
		margin: 0 auto;
		max-width: 1600px;
		min-height: 777px;
		background: #F7F7F7;
	}

	&__carousel-wrapp{
		margin: 0 auto;
		max-width: 597px;
		min-height: 724px;
	}

	&__form{
		min-height: 601px;
		transform: translateY(-65px);
		border: 1px solid #F7F7F7;
		background-color: $white;
	}

	&__form-price {
	}

	&__form-hr{
		max-width: 641px;
		border: 1px solid #EAEAEA;
	}

	&__form-input-color {
	}

	&__form-label {
	}

	&__button {
	}

	&__btn-basket-img {
	}

	&__btn-text {
	}


			


	




















	
	&__button{
			display: flex;
			justify-content: center;
			text-align: center;
			margin: 0 auto;
			border: 1px solid $pink;
			background-color: transparent;			
		}

		&__btn-basket-img{
			display: block;
			padding-top: 10.8px;
			padding-right: 23px;
			padding-bottom: 8px;
			padding-left: 24px;
		}

		&__btn-text {
			padding-top: 14px;
			padding-right: 56px;
			padding-bottom: 14px;
			color: $pink;
		}
	


			
}
	





